*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Maven Pro', sans-serif;
}
body{
    /*border: 2px solid red;*/
    height: 100vh;
}
#nav{
    background-color: #003049;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, #003049 35%, rgb(30, 106, 121) 100%);
    text-align: right;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 30px;
}
#nav>a{
    color: #caf0f8;
    text-decoration: none;
    padding-left: 15px;
}
#welcome-section{
    margin-top: 35px;
    background-image: url(../images/backgroundport.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    color: #ee9b00;
    font-size: 60px;
}
#welcome-section>p{
    font-size: 25px;
    color: #e9c46a;
    
}
#welcome-section>#f{
    color: #f94144;
    font-weight: bold;
}
#projects{
    background-color: #ee9b00;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    gap: 20px;
}
.project-tile{
    display: flex;
    flex-direction: column;
    width: 400px;
    
}
img{
    margin-top: 20px;
    border-radius: 15px;
    margin-bottom: 60px;
    height: 350px;
}
.project-tile>a{
    color: #f8edeb;
    text-align: center;
    margin-bottom: 20px;
}
footer{
    background-color: #370617;
    height: 300px;
    color: wheat;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.lowlinks{
    width:50px;
    height: auto;
}
footer>h2{
    margin-top: 30px;
    font-size: 40px;   
}
footer>p{font-style: italic;
font-size: 20px;}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }